.chart svg {
  #background: #b0e0f8;
  margin: 5px;
}

.chart svg rect {
  stroke: white;
  fill: #428bca;
}

.chart text.score {
  fill: white;
}

.chart text.score.small {
  fill: #000;
}

.chart text.label {
  fill: #000;
}

.chart svg .field-name {
  color: #428bca;
  fill: #428bca;
}

.chart svg .field-name:hover {
  text-decoration: underline;
}