body {
  font-family: "raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1, h2, h3 {
  color: maroon;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  /* float: left; */
  margin-right: 20px;
}
table#fields {
  margin-left: 20px;
}
#fields th {
  -moz-user-select: none;
  background-position: center bottom !important;
  height: 150px;
  outline: 0 none !important;
  padding: 0 !important;
  text-align: left;
}
.functionality {
  transform: translate(17px, 47px) rotate(315deg);
  white-space: nowrap;
  width: 28px;
}
.functionality > span {
  cursor: pointer;
  display: inline-block;
  padding-bottom: 5px;
}
#fields td {
  width: 10px;
}
#fields td.field {
  width: 100px;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.gray {
  background-color: #ccc;
}
pre#code {
  max-height: 800px;
  overflow: auto;
}

table#legend {
  width: 50%;
  font-size: 90%;
  margin-top: 20px;
  margin-left: 20px;
}

table#legend td {
  max-height: 10px;
}

footer p {
  text-align: right;
}

table.histogram td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

table.histogram td.legend {
  font-weight: bold;
  text-align: right;
}

tr.remainder {
  color: #999;
}

table#statistics td ul {
  margin: 0;
  padding: 0 0 0 10px;
}

table#statistics td.field-value {
  overflow: auto;
  max-width: 500px;
}

table#statistics td table.multilinguality {
  margin: 0;
}

table#statistics td table.multilinguality td {
  vertical-align: top;
  /* border-bottom: 1px solid #d9d9d9; */
  padding-right: 5px;
  font-size: 80%;
}

table#statistics td table.multilinguality td.m-label {
  color: #999999;
}

table#statistics td table.multilinguality td.m-value {
  text-align: right;
}

td.field-value hr {
  margin: 5px 0;
}

table.qa-basic-statistics td {
  padding-right: 5px;
  padding-left: 5px;
}

table.qa-basic-statistics td.qa-label {
  border-left: 2px solid #ccc;
  font-style: italic;
}

table.qa-basic-statistics td.qa-value {
  text-align: right;
}

table.qa-basic-statistics td.qa-value span.decimals {
  color: #ccc;
  font-family: "courier";
}

h3 a.qa-show-details,
h4 a.qa-show-details {
  font-size: 70%;
}

#content h3.entity-name {
  margin-top: 0pt;
}

div.qa-details {
  display: none;
}


h3.mandatory-black i.mandatory-icon,
h3.mandatory-blue i.mandatory-icon,
h3.mandatory-red i.mandatory-icon,
h3.mandatory-green i.mandatory-icon,
h3.mandatory-plus i.mandatory-icon
{
  padding-right: 10px;
  /* border-left-style: solid; */
  /* border-left-width: 2px; */
  /* text-decoration: underline; */
}

h3.mandatory-black {
  color: black;
}
h3.mandatory-blue  {
  color: #428bca;
}
h3.mandatory-red  {
  color: red;
}
h3.mandatory-green {
  color: green;
}

h3.mandatory-plus i.mandatory-icon
{
  color: black;
}

ul#mandatory-note {
  padding-left: 0px;
  padding-top: 20px;
}

ul#mandatory-note li {
  list-style-type: none;
}

i.fa-arrow-right {
  color: #428bca;
}
i.fa-circle-o {
  color: red;
}
i.fa-gear {
  color: green;
}

/* field patterns */
table#field-patterns {
  margin-top: 150px;
  border-collapse: inherit;
  border-spacing: 3px;
}

table#field-patterns tbody tr td,
table#field-patterns thead tr th
{
  padding: 5px;
  margin: 20px;
}

table#field-patterns tbody tr.barchart {
  vertical-align: bottom;
}

table#field-patterns tbody tr.barchart td.bar div {
  background-color: #cccccc;
  width: 20px;
  margin: auto;
  border-left: 1px solid maroon;
  border-bottom: 1px solid maroon;
}

table#field-patterns tbody tr td.filled {
  background-color: green;
  border-left: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

table#field-patterns tbody tr td.profile-filled {
  background-color: lawngreen;
  border-left: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

table#field-patterns tbody tr td.semi-filled {
  background-color: yellow;
  border-left: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

table#field-patterns tbody tr td.cluster,
table#field-patterns tbody tr td.length {
  min-width: 50px;
}

table#field-patterns tbody tr.profile td {
  color: #999999;
}

table#field-patterns tbody tr.profile td.profile-filled {
  color: #999999;
}

table#field-patterns tbody.jakob tr td.filled,
table#field-patterns tbody.jakob tr td.profile-filled {
  background-color: black;
}

table#field-patterns tbody.jakob tr td.semi-filled {
  background-color: black;
}

table#field-patterns tbody.jakob tr.profile td {
  color: black;
}

table#field-patterns tbody.jakob tr.profile td.profile-id {
  border-left: 2px solid #cccccc;
}

table#field-patterns tbody.jakob tr.spacer,
table#field-patterns tbody.jakob tr.spacer td {
  height: 6px;
  padding: 0;
}

table#field-patterns tbody.jakob tr td.opener a {
  color: #000000;
}

table#field-patterns tbody.jakob tr.in-between,
table#field-patterns tbody.jakob tr.in-between td {
  height: 3px;
  padding: 0;
}

table#field-patterns tbody tr.profile-hidden {
  display: none;
}

table#field-patterns thead tr th {
  transform: translate(8px, 0px) rotate(300deg);
  padding: 5px 5px;
  left: -10px;
  top: -10px;
  position: relative;
  text-align: left;
  max-width: 30px;
  max-height: 500px;
}

table#field-patterns thead tr th span.count {
  color: #cccccc;
}

table#field-patterns tbody tr.under-one {
  display: none;
}

table#field-patterns tbody tr.show-more td {
  padding-top: 10px;
  text-align: center;
}

table#field-patterns tbody tr.show-more a,
table#field-patterns tbody tr.show-more a:hover {
  color: black;
  text-decoration: none;
}

table#field-patterns tbody tr.draw-line td {
  /* border-top: 2px solid red; */
}

table.histogram {
  margin-bottom: 10px;
}

form#language-heatmap {
  margin-top: 10px;
}

li.nav-item.active {
  /* background-color: #dfdfdf; */
  background-color: #eee;
}

table#dataset td {
  text-align: right;
}

table#dataset td.text {
  text-align: left;
}

table#dataset td.sep {
  border-left: solid 1px #ccc;
}

table#dataset td.collection-label {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: unset;
}

table#dataset tr.in-all td.collection-label {
  width: 50%;
}

#intersections label {
  font-weight: unset;
  font-size: 90%;
}

#intersections label.disabled {
  color: #999999;
}

#intersections label.selectable {
  color: #9B410E;
}

#intersections legend {
  font-size: 90%;
  margin: 0;
}

#intersections div.row intersections-d,
#intersections div.row intersections-p {
  margin: 0;
}

#intersections-container,
div.form-selector,
form#collection-selector {
  margin: 0;
  padding: 0;
}

div.tab-pane div.row {
  margin-bottom: 0;
  padding-bottom: 0;
}

a.external {
  background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E %3Cpath fill=%22%23fff%22 stroke=%22%2336c%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E %3Cpath fill=%22%2336c%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E %3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E");
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 13px;
}

/**
 *
 */
.form-selector div.tab-pane div.row {
  margin: 20px 20px 5px 20px;
}

div#cardinality-content h5 {
  font-style: italic;
}

a.close-popup {
  float: right;
}

table.timeline {
  margin-top: 20px;
  margin-bottom: 20px;
}

table.timeline td,
table.timeline th {
  vertical-align: top;
  padding-right: 5px;
}

table.timeline td.num {
  text-align: right;
  padding-right: 20px;
}

table.timeline td.nil {
  color: #cccccc;
}

table.timeline tr.newline td {
  border-top: 1px solid #cccccc;
}

table.timeline td.property {
  width: 25%;
}